body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(203, 225, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante que a altura do corpo da página seja pelo menos 100% da altura da tela */
    margin: 0;
}

#nome, #sobrenome, #cep, #rua, #numero, #bairro, #complemento, #cidade, #estado, #telefone, #celular, #email{
    border: none;
  border-bottom: 1px solid black;
  padding: 8px;
  margin-top: 10px;
  text-align: justify;
}

.box{
   padding: 55px;
   margin-top: -100px;
   background-color: aliceblue;
   margin: 0 auto;
   max-width: 65%;
   border-radius: 4px;
   border: 1px solid rgb(209, 209, 209);
   
}


h1, p{
    text-align: center;
    color: rgb(44, 44, 44);
}

.red{
    color: red;
}

.buttonCadastrar{
    text-align: center;
    border: 0;
    border: 0;
}

#buttonInput{
    background-color: rgb(0, 86, 206);
    color: rgb(223, 223, 223);
    border: 0;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 15%;
    font-size: 100%;
    cursor: pointer;
}

#buttonInput:hover{
    background-color: rgb(0, 27, 80);
}

